<ion-header>
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>

        <ion-col style="text-align: left">
          <ion-title class="subtitle">
            Sistema de Gestión Actipro
          </ion-title>
        </ion-col>
        <ion-col style="text-align: right">
          <div (click)="logout()" class="subtitle"> Cerrar Sesión</div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h3>  Mantenciones Realizadas </h3>



  <div *ngIf="forms">

    <div *ngIf="!forms.length">

      No se presentan matenciones recientes.

    </div>

    <div *ngIf="forms.length">

    <ion-grid class="table">
      <ion-row>
        <ion-col>
          Fecha
        </ion-col>
        <ion-col>
          Empresa
        </ion-col>
        <ion-col>
          Planta
        </ion-col>
        <ion-col>
          Encargado
        </ion-col>
        <ion-col>
          Proxima Renovación
        </ion-col>
        <ion-col>
          Tiempo Restante
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>

      <ion-row *ngFor="let form of forms">
        <ion-col class="border">
          {{form.createdAt.substring(8,10)}}/{{form.createdAt.substring(5,7)}}/{{form.createdAt.substring(0,4)}}
        </ion-col>
        <ion-col class="border">
          {{form.enterprise}}
        </ion-col>
        <ion-col class="border">
          {{form.plant}}
        </ion-col>
        <ion-col class="border">
          {{form.s_name}}
        </ion-col>
        <ion-col class="border">
          {{form.ven.getDate() + '/' + (form.ven.getMonth() + 1) + '/' + form.ven.getFullYear()}}
        </ion-col>
        <ion-col class="border">
          {{form.restante}} Dias
        </ion-col>
        <ion-col class="border">
          <ion-button (click)="editForm(form.id)">
            Editar Ficha
          </ion-button>
        </ion-col>
        <ion-col class="border">
          <ion-button (click)="deleteForm(form.id)" color="danger">
            Eliminar Ficha
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
  </div>

</ion-content>
