<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>

        <ion-col style="text-align: left">
          <ion-title>
            Sistena de Gestión Actipro
          </ion-title>
        </ion-col>
        <ion-col style="text-align: right">
          <div (click)="logout()"> Cerrar Sesión</div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-title> Administrar Usuarios </ion-title>

  <div *ngIf="users">

    <ion-grid>
      <ion-row>
        <ion-col>
          Rut
        </ion-col>
        <ion-col>
          Nombre
        </ion-col>
        <ion-col>
          Empresa
        </ion-col>
        <ion-col>
          Nivel
        </ion-col>
        <ion-col>
          Fecha Registro
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let user of users">
        <ion-col>
          {{user.rut}}
        </ion-col>
        <ion-col>
          {{user.name}}
        </ion-col>
        <ion-col>
          {{user.enterprise}}
        </ion-col>
        <ion-col>
          {{user.permission}}
        </ion-col>
        <ion-col>
          {{user.createdAt}}
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div *ngIf="!users">

    No se presentan solicitudes sin responder.

  </div>

  <div style="text-align: center">
    <ion-button (click)="goRegUser()">
      Registrar Usuario
    </ion-button>
  </div>


</ion-content>
