<ion-header>
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>

        <ion-col style="text-align: left">
          <ion-title class="subtitle">
            Sistema de Gestión Actipro
          </ion-title>
        </ion-col>
        <ion-col style="text-align: right">
          <div (click)="logout()" class="subtitle">
            <ion-title class="subtitle">
              Cerrar Sesión
            </ion-title>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>  Administrar Extintores </h3>
      </ion-col>
      <ion-col>
         <ion-searchbar (input)="getItems($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>




  <div *ngIf="Extinguishers">

  <ion-grid class="table">
    <ion-row>
      <ion-col> Codigo QR </ion-col>
      <ion-col [size]="1"> Número </ion-col>
      <ion-col [size]="1"> Kilogramos</ion-col>
      <ion-col> Tipo </ion-col>
      <ion-col> Empresa </ion-col>
      <ion-col> Planta</ion-col>
      <ion-col> </ion-col>
      <ion-col> </ion-col>
    </ion-row>

    <ion-row *ngFor="let ext of Extinguishers">
      <ion-col class="border" > {{ext.serial_num}} </ion-col>
      <ion-col class="border" [size]="1"> {{ext.ext_num}} </ion-col>
      <ion-col class="border" [size]="1"> {{ext.weight}}</ion-col>
      <ion-col class="border"> {{ext.typeExt}} </ion-col>
      <ion-col class="border"> {{ext.client}} </ion-col>
      <ion-col class="border"> {{ext.plant}}</ion-col>
      <ion-col class="border">
        <ion-button (click)="goToExt(ext.serial_num)" >
          Ver
        </ion-button>
      </ion-col>
      <ion-col class="border">
        <ion-button (click)="deleteExtinguisher(ext.serial_num)" color="danger">
          Eliminar
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>
</div>

  <div style="text-align: center">
    <form (submit)="regExt($event)">
      <ion-input type="text" value="" name="serial" placeholder="Serial" style="border: #1e2023 1px" required="required">
      </ion-input>
        <ion-button type="submit">
          Regstrar Extintor
        </ion-button>
    </form>
  </div>
</ion-content>
