.active-item {
  border-left: 8px solid var(--ion-color-primary);
}

.responsive {
  max-width: 100%;
  height: auto;
  background-color: #3b3b3b;
}

.title{
  background-color: #3b3b3b;
  color: white;
  border-bottom: #6dae3b;
}
