.active-item {
  border-bottom: 8px solid var(--ion-color-btn2);
}

.responsive {
  max-width: 100%;
  height: auto;
  background-color: #3b3b3b;
}

.title-menu{
  background-color: #3b3b3b;
  color: white;
  border-bottom: #6dae3b;
}

.subtitle{
  left: 60px;
}
