<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>

        <ion-col style="text-align: left">
          <ion-title>
            Sistena de Gestión Actipro
          </ion-title>
        </ion-col>
        <ion-col style="text-align: right">
          <div (click)="logout()"> Cerrar Sesión</div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h3> Lista de Empresas </h3>



  <div *ngIf="Enterprises">

    <div *ngIf="!Enterprises.length" style="text-align: center">

      No se encuentran empresas registradas.

    </div>

    <div *ngIf="Enterprises.length">

    <ion-grid>
      <ion-row>
        <ion-col> Rut </ion-col>
        <ion-col> Nombre </ion-col>
        <ion-col> Email </ion-col>
        <ion-col> Direccion</ion-col>
        <ion-col> Telefono </ion-col>
        <ion-col> Eliminar</ion-col>
      </ion-row>

      <ion-row *ngFor="let ent of Enterprises">
        <ion-col> {{ent.rut}} </ion-col>
        <ion-col> {{ent.name}} </ion-col>
        <ion-col> {{ent.email}} </ion-col>
        <ion-col> {{ent.address}}</ion-col>
        <ion-col> {{ent.phone}} </ion-col>
        <ion-col>
          <ion-button (click)="deleteEnterprise(ent.id)" >
            Eliminar
          </ion-button>
        </ion-col>
      </ion-row>


    </ion-grid>
  </div>

  <div style="text-align: center">
    <ion-button (click)="goRegEnt()">
      Registrar Empresa
    </ion-button>
  </div>

  </div>

</ion-content>
